@use '../base/variables' as *;

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
}

.canvasWrapper {
  flex: 1;
  overflow: hidden;
}

.footer {
  background-color: $color-bg;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  text-align: center;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}