@use './variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-bg;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

a {
  color: $color-secondary;
  margin-left: 0.3rem;
  text-decoration: none;
}

canvas {
  touch-action: none;
}